/* styles.css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f0f7ff;
  color: #abaab8;
  height: 100vh;
  display: grid;
  place-items: center;
}

:root {
  --color-primary: #4672ff;
  --color-dark: #2646ad;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  align-content: stretch;
  width: 660px;
  height: 360px;
  background: #ffffff;
}

.nav {
  position: relative;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 148px;
}

.active-bar {
  position: absolute;
  top: 33.33%;
  left: 0;
  width: 5px;
  height: 33.33%;
  background: var(--color-primary);
  transition: 0.4s ease-in-out;
}

li {
  flex: 1 1 auto;
  display: grid;
  place-items: center;
}

li button.active {
  color: var(--color-dark);
}

button {
  background: transparent;
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

button:not(.active):hover {
  opacity: 0.675;
  color: var(--color-dark);
}

button i {
  font-size: 20px;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: -48px 0;
  flex: 0 0 300px;
  overflow: hidden;
  background: var(--color-primary);
}

.hero-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.hero-content {
  height: 456px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero img {
  width: 100%;
}

h2,
h3 {
  text-align: left;
  font-weight: 400;
  margin: 0;
  padding-left: 24px;
}

.hero h2 {
  color: #f9f9f9;
  margin: 0 0 2px;
}

.hero h3 {
  color: #f9f9f9;
  opacity: 0.75;
  font-size: 13px;
}

.form {
  position: relative;
  overflow: hidden;
  padding: 24px;
  width: 400px;
}

.forms,
.hero-inner {
  transition: 0.5s ease-in-out;
}

.forms {
  position: absolute;
  height: 200%;
  left: 0;
  top: 0;
}

form {
  height: 360px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
